// @import 'node_modules/bootstrap/scss/bootstrap';

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

/* width */
::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  max-width: 1200px;
}
body {
  min-height: 100vh;
  margin: 0;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}
p {
  margin: 0 0 3px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  color: #1b4a1c;
}
h1,
h2,
h3,
h4 {
  font-size: 1em;
  line-height: 1.32em;
  margin: 0;
}
.wp30 {
  float: left;
  width: 30%;
}
.wp70 {
  float: left;
  width: 70%;
}
.news-list .item_news {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  .descr {
    h3 {
      text-transform: uppercase;
      margin-bottom: 8px;
    }
  }
}
.headline {
  margin-top: 5rem;
}
.d-none-dk {
  display: none;
}
.phantrang {
  text-align: center;
  margin: 20px 0;
  justify-content: center;
  span {
    background: #009a4f;
    color: #fff;
    border: 1px solid #009a4f;
    margin-right: 3px;
    padding: 3px 8px;
  }
  a {
    margin-right: 3px;
    padding: 3px 11px;
    background: #fff;
    color: #009a4f;
    border: 1px solid #009a4f;
  }
}
header {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08);
  @media (max-width: 810px) {
    .navbar-brand-hide {
      display: block !important;
    }
  }
  #navbarNav {
    .nav-main {
      position: relative;
      .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
          text-transform: uppercase;
          color: #333333;
          font-weight: 600;
          text-decoration: none;
          font-size: 15px;
          &:hover {
            color: #da2028;
          }
        }
        .navbar-brand {
          img {
            width: 200px;
          }
        }
        .btn_search_mobile_top {
          i {
            background: #078844;
            padding: 5px;
          }
          color: #fff;
          padding: 0 0 0 7px;
          border: none;
          -webkit-appearance: button;
          cursor: pointer;
        }
        .search {
          display: none;
          padding-top: 22px;
          width: 300px;
          position: absolute;
          right: 0;
          top: 33px;
          z-index: 99999;
          .search-form {
            .btn_search {
              position: absolute;
              top: 22px;
              right: 0;
              border: none;
              background: green;
              color: #fff;
              padding: 5px 20px;
              display: block;
              width: 61px;
            }
          }
        }
      }

      .dropdown-menu {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        border: none;
      }
    }
  }
}

#content-anh {
  .item {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 10px;
  }
}

#slider-main {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
  }
}

// new css
li {
  list-style: none;
}
section {
  padding: 20px 0;
}

#cam-ket {
  background-image: url(../images/bg-cam-ket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-gray {
  background-color: #f0efef;
}

.breadcum {
  background: #ebf2ff;
  .tt ::before {
    display: table;
    content: " ";
  }
  .navigation {
    padding: 10px 0;
    font-weight: 700;
    margin-bottom: 0;
    overflow: hidden;
    li {
      display: inline-block;
      a {
        display: block;
        color: #444;
        font-size: 0.9em;
        padding-right: 10px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.tt {
  line-height: 38px;
  color: #009a4f;
  text-transform: uppercase;
  margin-bottom: 1px;
  font-size: 22px;
  position: relative;
  margin: 15px 0;
  font-weight: 700;
  span {
    font-size: 22px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 20%;
    left: 0;
    bottom: 0;
    background: #000;
    height: 2px;
  }
  &::after {
    position: absolute;
    content: "";
    width: 79%;
    left: 21%;
    bottom: 0;
    background: #009a4f;
    height: 2px;
  }
}
#main-content {
  .read-more {
    font-size: 12px;
    a {
      width: 140px;
      padding: 8px;
    }
  }
  .title-heading {
    margin-top: 50px;
    h2 {
      text-transform: uppercase;
      font-size: 29px;
      position: relative;
      margin-bottom: 30px;
      font-weight: 700;
      text-align: center;
      padding-bottom: 0;
      margin-bottom: 0;
      color: #1b4a1c;
      position: relative;
      margin-top: 0;
    }
  }
  .form_tienich {
    overflow: hidden;
    border: 1px solid #078844;
    padding: 20px;
  }
  #ketquatinh {
    background: #edf6ff;
    padding: 30px;
  }
  h2 {
    font-size: 1em;
  }
  .entry {
    ol {
      padding: 0;
      #toc_container {
        margin: 15px 0;
        ul {
          padding: 0;
        }
      }
    }
  }
}
#toc_container {
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 1em;
  width: 100%;
  display: table;
  font-size: 95%;
  background: #edf6ff;
  .toc_title {
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .toc_list {
    margin-top: 1em;
    padding: 0;
    li {
      font-size: 110%;
      list-style: none !important;
      a {
        text-decoration: none;
        text-shadow: none;
        color: #1b4a1c;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
          color: #2a6496;
          outline: 0;
        }
      }
    }
  }
}
#content {
  min-height: 300px;
  .cnt {
    margin-bottom: 20px;
    h1 {
      font-size: 28px;
      margin-bottom: 10px;
      line-height: 38px;
      font-weight: 700;
      color: #000;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 26px;
    }
    img {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    ul {
      padding: 0;
      li {
        list-style-type: initial;
      }
    }
    .single_content {
      figure {
        width: 800px;
        margin: 0 auto;
      }
      .wp-caption.aligncenter {
        text-align: center;
        clear: both;
        max-width: 100%;
        display: block;
        overflow: hidden;
      }

      .author {
        .saboxplugin-wrap {
          margin-top: 0px;
          margin-bottom: 0px;
          padding: 0px 0px;
          border: 1px solid #eee;
          width: 100%;
          clear: both;
          display: block;
          overflow: hidden;
          word-wrap: break-word;
          position: relative;
          .saboxplugin-authorname {
            font-size: 18px;
            line-height: 25px;
          }
          .saboxplugin-gravatar {
            float: left;
            padding: 20px;
            img {
              max-width: 100px;
              height: auto;
              border-radius: 50%;
            }
          }
          .saboxplugin-authorname {
            font-size: 18px;
            line-height: 25px;
            margin: 20px 0 0 20px;
            display: block;
          }
          .saboxplugin-desc {
            font-size: 14px !important;
            line-height: 21px !important;
            h4 {
              font-size: 1em;
            }
          }
          .saboxplugin-socials {
            position: relative;
            display: block;
            background: #fcfcfc;
            padding: 10px;
            border-top: 1px solid #eee;
            line-height: 1 !important;
            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
    .fb-share-button {
      margin: 10px;
    }
  }
  .comment_form {
    h3 {
      font-size: 1em;
    }
    .readmore {
      background: #1b4a1c;
      color: #fff;
      width: 125px;
      text-align: center;
      padding: 7px;
      margin: 20px auto 0;
      text-transform: uppercase;
      font-size: 14px;
      display: block;
      font-weight: 700;
      border: 1px solid transparent;
      &:hover {
        color: yellow;
        border: 1px solid #000;
        background: #009a4f;
      }
    }
  }
}
.form-select,
.form-control {
  border-radius: 0;
}

.form_tuvan {
  background: #078844;
  font-weight: 700;
  color: #fff;
  padding: 20px;
  text-align: center;
  .form_tuvan_content {
    p {
      color: #ff0;
    }
    textarea.form-control {
      height: 80px;
    }
    input {
      margin-bottom: 8px;
    }
  }
}
.img_sidebar {
  margin-top: 15px;
}
.item-news {
  overflow: hidden;
  margin: 10px 0;
  h3 a {
    font-size: 12px;
    color: #000;
  }
}

.btn {
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.line_f {
  height: 2px;
  width: 200px;
  margin: 0 auto 5px;
  background: #1b4a1c;
}
.read-more {
  font-size: 15px;
  a,
  button {
    width: 220px;
    color: white;
    background: #1b4a1c;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    &:hover {
      color: yellow;
      outline: 0;
      text-decoration: underline;
    }
  }
}
.item {
  border: 1px solid #ddd;
  word-wrap: break-word;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 30px;
  &:hover {
    background: #eee;
  }
  .img {
    position: relative;
    overflow: hidden;
    .link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 128, 0, 0.8);
      overflow: hidden;
      opacity: 0;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease;
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-50%, -50%) rotate(270deg);
        -moz-transform: translate(-50%, -50%) rotate(270deg);
        -ms-transform: translate(-50%, -50%) rotate(270deg);
        transform: translate(-50%, -50%) rotate(270deg);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease;
        img {
          display: block;
          width: 100%;
          height: 100%;
          border: 2px solid #fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
        }
      }
    }
    img {
      max-width: 100%;
      height: auto;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
    &:hover {
      img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
      .link {
        opacity: 1;
        .icon {
          -webkit-transform: translate(-50%, -50%) rotate(0);
          -moz-transform: translate(-50%, -50%) rotate(0);
          -ms-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
        }
      }
    }
  }
  .card-body {
    padding: 10px;
    .title-card {
      font-size: 18px;
      display: block;
      text-align: left;
      text-transform: uppercase;
      padding: 10px 0 15px;
      height: 52px;
      overflow: hidden;
      color: #114831;
      margin-bottom: 3px;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
      &:hover {
        color: #1f4286;
        text-decoration: underline;
      }
    }
    .note-card {
      text-align: justify;
      overflow: hidden;
      height: 136px;
    }
  }
  @media (min-width: 1023px) {
    .img {
      overflow: hidden;
      height: 185px;
    }
  }
}
#cong-trinh-tieu-bieu,
#xay-dung-nha,
#sua-chua-nha,
#nang-cap-nha,
#thiet-ke-kien-truc-nha,
#vat-lieu-hoan-thien,
#cam-nang-xay-nha,
#tinh-chi-phi-xay-dung,
#hoat-dong,
#danh-gia,
#bang-bao-gia,
#cam-ket {
  img {
    max-width: 100%;
  }
  .title-heading {
    h2 {
      text-transform: uppercase;
      font-size: 29px;
      position: relative;
      margin-bottom: 10px;
      font-weight: 700;
      text-align: center;
      padding-bottom: 0;
      color: #1b4a1c;
      position: relative;
      margin-top: 0;
      text-align: center;
    }
  }
  .single-project {
    .video-view {
      position: relative;
      cursor: pointer;
      padding: 10px;
      img {
        max-width: 100%;
      }
      .play-video-icon {
        position: absolute;
        width: 43px;
        height: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url(../../assets/images/youtube.png) no-repeat;
        background-size: auto;
        cursor: pointer;
        background-size: 100% 100%;
      }
    }
  }

  .content {
    .nav-tabs {
      border: none;
      .nav-item {
        margin-left: 10px;
        .nav-link {
          font-weight: 700;
          background: #fff !important;
          border-radius: 4px;
          padding: 5px 16px;
          margin-bottom: 5px;
          color: #1b4a1c;
          border: 1px solid #1b4a1c !important;
          text-transform: uppercase;
          font-size: 15px;
        }
        .active {
          background: #1b4a1c !important;
          color: #fff !important;
        }
      }
    }
  }
  .media {
    .media-left,
    .media-body {
      vertical-align: top;
      padding-right: 10px;
      img {
        width: 50px;
      }
    }
    .media-body {
      vertical-align: top;
      overflow: hidden;
      .media-heading {
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
  #tabVatLieu {
    .nav-link {
      &:hover {
        background: #1b4a1c !important;
        color: #fff !important;
      }
    }
  }
}

#footer {
  color: #fff;
  font-size: 14px;
  padding: 30px 0 0 0;
  position: relative;
  background-color: #1b4a1c;
  margin-top: 0;
  overflow: hidden;
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  .ct-footer {
    .title_footer {
      font-size: 22px;
      border-bottom: 1px solid #fff;
      margin-bottom: 20px;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    .menu_bottom {
      li {
        float: left;
        margin-right: 5px;
        border: 1px solid white;
        padding: 5px;
        margin-bottom: 10px;
        color: white;
        a {
          color: white;
        }
      }
    }
    .item {
      border: none;
      margin: 0;
      &:hover {
        background-color: transparent;
      }
    }
    .code-schema-events {
      width: 100%;
      float: left;
      margin-top: 15px;
    }
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  .content_footer {
    .logo_footer {
      img {
        width: 320px;
        height: auto;
      }
    }
    border-top: 1px solid #fff;
    padding-top: 30px;
    text-align: center;
  }
  .copyright {
    text-align: center;
    border-top: 1px solid #fff;
    padding: 10px 0;
    color: #fff;
    background: #114831;
  }
}
.icon_left {
  text-align: center;
  width: 45px;
  position: fixed;
  bottom: 80px;
  left: 20px;
  z-index: 9999;
  a {
    display: block;
    width: 45px;
    margin: 14px 0;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 3px 10px #888;
    height: 45px;
    line-height: 26px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .icon_phone {
    background: #19305a;
  }
  .icon_sms {
    background: #ff6600;
  }
  .icon_zalo {
    background: #0084ff;
  }
  .icon_messager {
    background: #e60f1e;
  }
}
.dang_ky_fix {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: tada_keyframe;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: phone_call;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 0;
  left: 5px;
  text-align: center;
  background-color: #078844;
  margin-top: 10px;
  color: #000;
  z-index: 9999;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 30px;
  font-weight: 700;
  a {
    color: #fff;
  }
}

@keyframes phone_call {
  0% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
  }
  10%,
  20% {
    -webkit-transform: translate(0, 0) scale(0.9, 0.9) rotateZ(-3deg);
    transform: translate(0, 0) scale(0.9, 0.9) rotateZ(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(0, 0) scale(1.1, 1.1) rotateZ(3deg);
    transform: translate(0, 0) scale(1.1, 1.1) rotateZ(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: translate(0, 0) scale(1.1, 1.1) rotateZ(-3deg);
    transform: translate(0, 0) scale(1.1, 1.1) rotateZ(-3deg);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1, 1) rotateZ(0);
    transform: translate(0, 0) scale(1, 1) rotateZ(0);
  }
}

.modal-custom {
  height: 300px;
  overflow-y: scroll;
}

//mobile
@media (max-width: 767px) {
  .d-none-dk {
    display: inherit;
  }
  .d-none-mb {
    display: none;
  }
  #wrapper-content {
    h4 {
      font-size: 18px;
    }
    .head-title {
      font-size: 25px;
    }

    .flex-ct-column {
      flex-direction: column;
    }

    .flex-ct-row {
      flex-direction: row;
    }

    .w-35 {
      width: 100%;
      margin-bottom: 10px;
    }

    .w-65 {
      width: 100%;
      text-align: center;
    }

    .box-banner {
      padding: 30px 0 100px;
      background-position: 37% 100%;
      background-size: 180%;
      min-height: 147px;
      max-height: 147px;
    }

    .box-param-filter {
      padding: 10px !important;

      .content-filter {
        font-size: 15px !important;

        .btn-minus,
        .btn-plus {
          padding: 0;

          button {
            height: 30px !important;
            width: 30px !important;
            line-height: 16px;
            font-size: 14px;
            font-weight: 700;
          }
        }
      }
    }

    .box-content-credit {
      .ul-check {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        .item-check {
          width: 50%;
          margin-bottom: 5px !important;
        }
      }
    }

    .box-detail-news {
      padding: 0;

      .detail-news {
        padding: 0;

        .title-detail {
          font-size: 25px;
          line-height: 32px;
          padding-top: 10px;
        }
      }

      .orther-news {
        .item-orther-news {
          img {
            margin-bottom: 10px;
          }

          .item-orther-title {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@keyframes ring-alo-circle-anim {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5) skew(1deg);
  }

  30% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }

  100% {
    opacity: 0.6;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes ring-alo-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes ring-alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }

  50% {
    opacity: 0.2;
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  100% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }
}
