/* width */
::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bbb; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.container {
  max-width: 1200px; }

#myBtn {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 100px;
  right: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #009a4f;
  color: #fff;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  opacity: 0.8; }
  #myBtn img {
    width: 100%;
    height: 100%; }
  #myBtn:hover {
    opacity: 1; }

body {
  min-height: 100vh;
  margin: 0;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box; }

.contact input[type="submit"] {
  border: none;
  cursor: pointer;
  outline: 0;
  font-weight: 700;
  margin-left: 90px;
  width: auto;
  background-color: #000;
  color: #fff;
  padding: 7px 14px;
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.3s ease;
  font-size: 15px;
  margin-bottom: 0; }
  .contact input[type="submit"]:hover {
    background-color: #009a4f; }

p {
  margin: 0 0 3px; }

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  color: #1b4a1c; }

h1,
h2,
h3,
h4 {
  font-size: 1em;
  line-height: 1.32em;
  margin: 0; }

.wp30 {
  float: left;
  width: 30%; }

.wp70 {
  float: left;
  width: 70%; }

.news-list .item_news {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; }

.fancybox__footer {
  display: none; }

.navbar-nav .dropdown-menu {
  position: absolute; }

.item-news {
  overflow: hidden; }
  .item-news .col-9 {
    padding-left: 0; }
    .item-news .col-9 .descr h3 {
      text-transform: uppercase;
      margin-bottom: 8px;
      line-height: 0.9em; }

.headline {
  margin-top: 5rem; }

.d-none-dk {
  display: none; }

.phantrang {
  text-align: center;
  margin: 20px 0;
  justify-content: center; }
  .phantrang span {
    background: #009a4f;
    color: #fff;
    border: 1px solid #009a4f;
    margin-right: 3px;
    padding: 3px 8px; }
  .phantrang a {
    margin-right: 3px;
    padding: 3px 11px;
    background: #fff;
    color: #009a4f;
    border: 1px solid #009a4f; }

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none; }

header {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08); }
  @media (max-width: 810px) {
    header .navbar {
      background-color: #078844; }
      header .navbar .navbar-brand-hide {
        display: block !important;
        width: 150px; }
      header .navbar .navbar-toggler {
        border: none;
        color: #fff; } }
  header #navbarNav .nav-main {
    position: relative; }
    header #navbarNav .nav-main .nav-item {
      display: flex;
      align-items: center; }
      header #navbarNav .nav-main .nav-item .nav-link {
        text-transform: uppercase;
        color: #333333;
        font-weight: 600;
        text-decoration: none;
        font-size: 15px;
        color: black; }
        @media (max-width: 564px) {
          header #navbarNav .nav-main .nav-item .nav-link {
            color: white; } }
        header #navbarNav .nav-main .nav-item .nav-link:hover {
          color: #da2028; }
      header #navbarNav .nav-main .nav-item .navbar-brand img {
        width: 200px; }
      header #navbarNav .nav-main .nav-item .btn_search_mobile_top {
        color: #fff;
        padding: 3px;
        border: none;
        -webkit-appearance: button;
        cursor: pointer;
        background-color: green;
        width: 30px;
        height: 30px; }
      header #navbarNav .nav-main .nav-item .search {
        display: none;
        padding-top: 22px;
        width: 300px;
        position: absolute;
        right: 0;
        top: 33px;
        z-index: 99999; }
        header #navbarNav .nav-main .nav-item .search .search-form .btn_search {
          position: absolute;
          top: 23px;
          right: 0;
          border: none;
          background: green;
          color: #fff;
          padding: 7px 20px;
          display: block;
          width: 61px; }
    header #navbarNav .nav-main .dropdown-menu {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      border: none; }

.btn-search-reponsive .btn_search_mobile_top_reponsive {
  color: #fff;
  padding: 3px;
  border: none;
  -webkit-appearance: button;
  cursor: pointer;
  width: 30px;
  height: 30px; }

.search_reponsive {
  display: none;
  padding-top: 22px;
  width: 300px;
  position: absolute;
  right: 0;
  top: 33px;
  z-index: 99999; }
  .search_reponsive .search-form-reponsive .btn_search_reponsive {
    position: absolute;
    top: 22px;
    right: 0;
    border: none;
    background: green;
    color: #fff;
    padding: 8px 20px;
    display: block;
    width: 61px; }

#content-anh .item {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  padding: 10px; }

#slider-main .carousel-control-next-icon,
#slider-main .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem; }

li {
  list-style: none; }

section {
  padding: 20px 0; }

#cam-ket {
  background-image: url(../images/bg-cam-ket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.bg-gray {
  background-color: #f0efef; }

.breadcum {
  background: #ebf2ff; }
  .breadcum .tt ::before {
    display: table;
    content: " "; }
  .breadcum .navigation {
    padding: 10px 0;
    font-weight: 700;
    margin-bottom: 0;
    overflow: hidden; }
    .breadcum .navigation li {
      display: inline-block; }
      .breadcum .navigation li a {
        display: block;
        color: #444;
        font-size: 0.9em;
        padding-right: 10px; }
        .breadcum .navigation li a img {
          max-width: 100%;
          height: auto; }

.tt {
  line-height: 38px;
  color: #009a4f;
  text-transform: uppercase;
  margin-bottom: 1px;
  font-size: 22px;
  position: relative;
  margin: 15px 0;
  font-weight: 700; }
  .tt span {
    font-size: 22px; }
  .tt::before {
    position: absolute;
    content: "";
    width: 20%;
    left: 0;
    bottom: 0;
    background: #000;
    height: 2px; }
  .tt::after {
    position: absolute;
    content: "";
    width: 79%;
    left: 21%;
    bottom: 0;
    background: #009a4f;
    height: 2px; }

#main-content .read-more {
  font-size: 12px; }
  #main-content .read-more a {
    width: 140px;
    padding: 8px; }

#main-content .title-heading {
  margin-top: 50px; }
  #main-content .title-heading h2 {
    text-transform: uppercase;
    font-size: 29px;
    position: relative;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #1b4a1c;
    position: relative;
    margin-top: 0; }

#main-content .form_tienich {
  overflow: hidden;
  border: 1px solid #078844;
  padding: 20px; }
  #main-content .form_tienich .row {
    margin-bottom: 15px; }

#main-content #ketquatinh {
  background: #edf6ff;
  padding: 30px; }

#main-content h2 {
  font-size: 1em; }

#main-content .entry ol {
  padding: 0; }
  #main-content .entry ol #toc_container {
    margin: 15px 0; }
    #main-content .entry ol #toc_container ul {
      padding: 0; }

#toc_container {
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 1em;
  width: 100%;
  display: table;
  font-size: 95%;
  background: #edf6ff; }
  #toc_container .toc_title {
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0; }
  #toc_container .toc_list {
    margin-top: 1em;
    padding: 0; }
    #toc_container .toc_list li {
      font-size: 110%;
      list-style: none !important; }
      #toc_container .toc_list li a {
        text-decoration: none;
        text-shadow: none;
        color: #1b4a1c;
        font-weight: 500; }
        #toc_container .toc_list li a:hover {
          text-decoration: underline;
          color: #2a6496;
          outline: 0; }

#content {
  min-height: 300px; }
  #content .cnt {
    margin-bottom: 20px; }
    #content .cnt h1 {
      font-size: 28px;
      margin-bottom: 10px;
      line-height: 38px;
      font-weight: 700;
      color: #000; }
    #content .cnt h2 {
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 26px; }
    #content .cnt img {
      margin-top: 10px;
      margin-bottom: 10px; }
    #content .cnt ul {
      padding: 0; }
      #content .cnt ul li {
        list-style-type: initial; }
    #content .cnt .single_content figure {
      width: 800px;
      margin: 0 auto; }
    #content .cnt .single_content .wp-caption.aligncenter {
      text-align: center;
      clear: both;
      max-width: 100%;
      display: block;
      overflow: hidden; }
    #content .cnt .single_content .author .saboxplugin-wrap {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 0px;
      border: 1px solid #eee;
      width: 100%;
      clear: both;
      display: block;
      overflow: hidden;
      word-wrap: break-word;
      position: relative; }
      #content .cnt .single_content .author .saboxplugin-wrap .saboxplugin-authorname {
        font-size: 18px;
        line-height: 25px; }
      #content .cnt .single_content .author .saboxplugin-wrap .saboxplugin-gravatar {
        float: left;
        padding: 20px; }
        #content .cnt .single_content .author .saboxplugin-wrap .saboxplugin-gravatar img {
          max-width: 100px;
          height: auto;
          border-radius: 50%; }
      #content .cnt .single_content .author .saboxplugin-wrap .saboxplugin-authorname {
        font-size: 18px;
        line-height: 25px;
        margin: 20px 0 0 20px;
        display: block; }
      #content .cnt .single_content .author .saboxplugin-wrap .saboxplugin-desc {
        font-size: 14px !important;
        line-height: 21px !important; }
        #content .cnt .single_content .author .saboxplugin-wrap .saboxplugin-desc h4 {
          font-size: 1em; }
      #content .cnt .single_content .author .saboxplugin-wrap .saboxplugin-socials {
        position: relative;
        display: block;
        background: #fcfcfc;
        padding: 10px;
        border-top: 1px solid #eee;
        line-height: 1 !important; }
        #content .cnt .single_content .author .saboxplugin-wrap .saboxplugin-socials svg {
          width: 18px;
          height: 18px; }
    #content .cnt .fb-share-button {
      margin: 10px; }
  #content .comment_form h3 {
    font-size: 1em; }
  #content .comment_form .readmore {
    background: #1b4a1c;
    color: #fff;
    width: 125px;
    text-align: center;
    padding: 7px;
    margin: 20px auto 0;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    font-weight: 700;
    border: 1px solid transparent; }
    #content .comment_form .readmore:hover {
      color: yellow;
      border: 1px solid #000;
      background: #009a4f; }

.form-select,
.form-control {
  border-radius: 0; }

.form_tuvan {
  background: #078844;
  font-weight: 700;
  color: #fff;
  padding: 20px;
  text-align: center; }
  .form_tuvan .form_tuvan_content p {
    color: #ff0; }
  .form_tuvan .form_tuvan_content textarea.form-control {
    height: 80px; }
  .form_tuvan .form_tuvan_content input {
    margin-bottom: 8px; }

.img_sidebar {
  margin-top: 15px; }

.item-news {
  overflow: hidden;
  margin: 10px 0; }
  .item-news h3 a {
    font-size: 12px;
    color: #000; }

.btn {
  color: #fff; }

img {
  max-width: 100%;
  height: auto; }

.line_f {
  height: 2px;
  width: 200px;
  margin: 0 auto 5px;
  background: #1b4a1c; }

.read-more {
  font-size: 15px; }
  .read-more a,
  .read-more button {
    width: 220px;
    color: white;
    background: #1b4a1c;
    display: block;
    padding: 10px;
    text-transform: uppercase; }
    .read-more a:hover,
    .read-more button:hover {
      color: yellow;
      outline: 0;
      text-decoration: underline; }

.item {
  border: 1px solid #ddd;
  word-wrap: break-word;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 30px; }
  @media (max-width: 564px) {
    .item {
      margin-right: 0; } }
  .item:hover {
    background: #eee; }
  .item .img {
    position: relative;
    overflow: hidden; }
    .item .img .link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 128, 0, 0.8);
      overflow: hidden;
      opacity: 0;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .item .img .link .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-50%, -50%) rotate(270deg);
        -moz-transform: translate(-50%, -50%) rotate(270deg);
        -ms-transform: translate(-50%, -50%) rotate(270deg);
        transform: translate(-50%, -50%) rotate(270deg);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .item .img .link .icon img {
          display: block;
          width: 100%;
          height: 100%;
          border: 2px solid #fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
    .item .img img {
      max-width: 100%;
      height: auto;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    .item .img:hover img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
    .item .img:hover .link {
      opacity: 1; }
      .item .img:hover .link .icon {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        -moz-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0); }
  .item .card-body {
    padding: 10px; }
    .item .card-body .title-card {
      font-size: 18px;
      display: block;
      text-align: left;
      text-transform: uppercase;
      padding: 10px 0 15px;
      height: 50px;
      overflow: hidden;
      color: #114831;
      margin-bottom: 3px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical; }
      .item .card-body .title-card:hover {
        color: #1f4286;
        text-decoration: underline; }
    .item .card-body .note-card {
      margin-top: 5px;
      text-align: justify;
      overflow: hidden;
      height: 136px; }
  @media (min-width: 1023px) {
    .item .img {
      overflow: hidden;
      height: 185px; } }

@media (max-width: 564px) {
  #tinh-phi .tienich :nth-child(3),
  #tinh-phi :nth-child(4),
  #tinh-phi :nth-child(5),
  #tinh-phi :nth-child(6) {
    margin-top: 0 !important; } }

#cong-trinh-tieu-bieu img,
#xay-dung-nha img,
#sua-chua-nha img,
#nang-cap-nha img,
#thiet-ke-kien-truc-nha img,
#vat-lieu-hoan-thien img,
#cam-nang-xay-nha img,
#tinh-chi-phi-xay-dung img,
#hoat-dong img,
#danh-gia img,
#bang-bao-gia img,
#cam-ket img {
  max-width: 100%; }

#cong-trinh-tieu-bieu .title-heading h2,
#xay-dung-nha .title-heading h2,
#sua-chua-nha .title-heading h2,
#nang-cap-nha .title-heading h2,
#thiet-ke-kien-truc-nha .title-heading h2,
#vat-lieu-hoan-thien .title-heading h2,
#cam-nang-xay-nha .title-heading h2,
#tinh-chi-phi-xay-dung .title-heading h2,
#hoat-dong .title-heading h2,
#danh-gia .title-heading h2,
#bang-bao-gia .title-heading h2,
#cam-ket .title-heading h2 {
  text-transform: uppercase;
  font-size: 29px;
  position: relative;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0;
  color: #1b4a1c;
  position: relative;
  margin-top: 0;
  text-align: center; }

@media (max-width: 564px) {
  #cong-trinh-tieu-bieu .entry .tienich :nth-child(2),
  #cong-trinh-tieu-bieu .entry :nth-child(3),
  #cong-trinh-tieu-bieu .entry :nth-child(4),
  #xay-dung-nha .entry .tienich :nth-child(2),
  #xay-dung-nha .entry :nth-child(3),
  #xay-dung-nha .entry :nth-child(4),
  #sua-chua-nha .entry .tienich :nth-child(2),
  #sua-chua-nha .entry :nth-child(3),
  #sua-chua-nha .entry :nth-child(4),
  #nang-cap-nha .entry .tienich :nth-child(2),
  #nang-cap-nha .entry :nth-child(3),
  #nang-cap-nha .entry :nth-child(4),
  #thiet-ke-kien-truc-nha .entry .tienich :nth-child(2),
  #thiet-ke-kien-truc-nha .entry :nth-child(3),
  #thiet-ke-kien-truc-nha .entry :nth-child(4),
  #vat-lieu-hoan-thien .entry .tienich :nth-child(2),
  #vat-lieu-hoan-thien .entry :nth-child(3),
  #vat-lieu-hoan-thien .entry :nth-child(4),
  #cam-nang-xay-nha .entry .tienich :nth-child(2),
  #cam-nang-xay-nha .entry :nth-child(3),
  #cam-nang-xay-nha .entry :nth-child(4),
  #tinh-chi-phi-xay-dung .entry .tienich :nth-child(2),
  #tinh-chi-phi-xay-dung .entry :nth-child(3),
  #tinh-chi-phi-xay-dung .entry :nth-child(4),
  #hoat-dong .entry .tienich :nth-child(2),
  #hoat-dong .entry :nth-child(3),
  #hoat-dong .entry :nth-child(4),
  #danh-gia .entry .tienich :nth-child(2),
  #danh-gia .entry :nth-child(3),
  #danh-gia .entry :nth-child(4),
  #bang-bao-gia .entry .tienich :nth-child(2),
  #bang-bao-gia .entry :nth-child(3),
  #bang-bao-gia .entry :nth-child(4),
  #cam-ket .entry .tienich :nth-child(2),
  #cam-ket .entry :nth-child(3),
  #cam-ket .entry :nth-child(4) {
    margin-top: 0 !important; } }

#cong-trinh-tieu-bieu .single-project .video-view,
#xay-dung-nha .single-project .video-view,
#sua-chua-nha .single-project .video-view,
#nang-cap-nha .single-project .video-view,
#thiet-ke-kien-truc-nha .single-project .video-view,
#vat-lieu-hoan-thien .single-project .video-view,
#cam-nang-xay-nha .single-project .video-view,
#tinh-chi-phi-xay-dung .single-project .video-view,
#hoat-dong .single-project .video-view,
#danh-gia .single-project .video-view,
#bang-bao-gia .single-project .video-view,
#cam-ket .single-project .video-view {
  position: relative;
  cursor: pointer;
  padding: 10px; }
  #cong-trinh-tieu-bieu .single-project .video-view img,
  #xay-dung-nha .single-project .video-view img,
  #sua-chua-nha .single-project .video-view img,
  #nang-cap-nha .single-project .video-view img,
  #thiet-ke-kien-truc-nha .single-project .video-view img,
  #vat-lieu-hoan-thien .single-project .video-view img,
  #cam-nang-xay-nha .single-project .video-view img,
  #tinh-chi-phi-xay-dung .single-project .video-view img,
  #hoat-dong .single-project .video-view img,
  #danh-gia .single-project .video-view img,
  #bang-bao-gia .single-project .video-view img,
  #cam-ket .single-project .video-view img {
    max-width: 100%; }
  #cong-trinh-tieu-bieu .single-project .video-view .play-video-icon,
  #xay-dung-nha .single-project .video-view .play-video-icon,
  #sua-chua-nha .single-project .video-view .play-video-icon,
  #nang-cap-nha .single-project .video-view .play-video-icon,
  #thiet-ke-kien-truc-nha .single-project .video-view .play-video-icon,
  #vat-lieu-hoan-thien .single-project .video-view .play-video-icon,
  #cam-nang-xay-nha .single-project .video-view .play-video-icon,
  #tinh-chi-phi-xay-dung .single-project .video-view .play-video-icon,
  #hoat-dong .single-project .video-view .play-video-icon,
  #danh-gia .single-project .video-view .play-video-icon,
  #bang-bao-gia .single-project .video-view .play-video-icon,
  #cam-ket .single-project .video-view .play-video-icon {
    position: absolute;
    width: 43px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../../assets/images/youtube.png) no-repeat;
    background-size: auto;
    cursor: pointer;
    background-size: 100% 100%; }

#cong-trinh-tieu-bieu .content .nav-tabs,
#xay-dung-nha .content .nav-tabs,
#sua-chua-nha .content .nav-tabs,
#nang-cap-nha .content .nav-tabs,
#thiet-ke-kien-truc-nha .content .nav-tabs,
#vat-lieu-hoan-thien .content .nav-tabs,
#cam-nang-xay-nha .content .nav-tabs,
#tinh-chi-phi-xay-dung .content .nav-tabs,
#hoat-dong .content .nav-tabs,
#danh-gia .content .nav-tabs,
#bang-bao-gia .content .nav-tabs,
#cam-ket .content .nav-tabs {
  border: none; }
  #cong-trinh-tieu-bieu .content .nav-tabs .nav-item,
  #xay-dung-nha .content .nav-tabs .nav-item,
  #sua-chua-nha .content .nav-tabs .nav-item,
  #nang-cap-nha .content .nav-tabs .nav-item,
  #thiet-ke-kien-truc-nha .content .nav-tabs .nav-item,
  #vat-lieu-hoan-thien .content .nav-tabs .nav-item,
  #cam-nang-xay-nha .content .nav-tabs .nav-item,
  #tinh-chi-phi-xay-dung .content .nav-tabs .nav-item,
  #hoat-dong .content .nav-tabs .nav-item,
  #danh-gia .content .nav-tabs .nav-item,
  #bang-bao-gia .content .nav-tabs .nav-item,
  #cam-ket .content .nav-tabs .nav-item {
    margin-left: 10px; }
    #cong-trinh-tieu-bieu .content .nav-tabs .nav-item .nav-link,
    #xay-dung-nha .content .nav-tabs .nav-item .nav-link,
    #sua-chua-nha .content .nav-tabs .nav-item .nav-link,
    #nang-cap-nha .content .nav-tabs .nav-item .nav-link,
    #thiet-ke-kien-truc-nha .content .nav-tabs .nav-item .nav-link,
    #vat-lieu-hoan-thien .content .nav-tabs .nav-item .nav-link,
    #cam-nang-xay-nha .content .nav-tabs .nav-item .nav-link,
    #tinh-chi-phi-xay-dung .content .nav-tabs .nav-item .nav-link,
    #hoat-dong .content .nav-tabs .nav-item .nav-link,
    #danh-gia .content .nav-tabs .nav-item .nav-link,
    #bang-bao-gia .content .nav-tabs .nav-item .nav-link,
    #cam-ket .content .nav-tabs .nav-item .nav-link {
      font-weight: 700;
      background: #fff !important;
      border-radius: 4px;
      padding: 5px 16px;
      margin-bottom: 5px;
      color: #1b4a1c;
      border: 1px solid #1b4a1c !important;
      text-transform: uppercase;
      font-size: 15px; }
    #cong-trinh-tieu-bieu .content .nav-tabs .nav-item .active,
    #xay-dung-nha .content .nav-tabs .nav-item .active,
    #sua-chua-nha .content .nav-tabs .nav-item .active,
    #nang-cap-nha .content .nav-tabs .nav-item .active,
    #thiet-ke-kien-truc-nha .content .nav-tabs .nav-item .active,
    #vat-lieu-hoan-thien .content .nav-tabs .nav-item .active,
    #cam-nang-xay-nha .content .nav-tabs .nav-item .active,
    #tinh-chi-phi-xay-dung .content .nav-tabs .nav-item .active,
    #hoat-dong .content .nav-tabs .nav-item .active,
    #danh-gia .content .nav-tabs .nav-item .active,
    #bang-bao-gia .content .nav-tabs .nav-item .active,
    #cam-ket .content .nav-tabs .nav-item .active {
      background: #1b4a1c !important;
      color: #fff !important; }

#cong-trinh-tieu-bieu .media .media-left,
#cong-trinh-tieu-bieu .media .media-body,
#xay-dung-nha .media .media-left,
#xay-dung-nha .media .media-body,
#sua-chua-nha .media .media-left,
#sua-chua-nha .media .media-body,
#nang-cap-nha .media .media-left,
#nang-cap-nha .media .media-body,
#thiet-ke-kien-truc-nha .media .media-left,
#thiet-ke-kien-truc-nha .media .media-body,
#vat-lieu-hoan-thien .media .media-left,
#vat-lieu-hoan-thien .media .media-body,
#cam-nang-xay-nha .media .media-left,
#cam-nang-xay-nha .media .media-body,
#tinh-chi-phi-xay-dung .media .media-left,
#tinh-chi-phi-xay-dung .media .media-body,
#hoat-dong .media .media-left,
#hoat-dong .media .media-body,
#danh-gia .media .media-left,
#danh-gia .media .media-body,
#bang-bao-gia .media .media-left,
#bang-bao-gia .media .media-body,
#cam-ket .media .media-left,
#cam-ket .media .media-body {
  vertical-align: top;
  padding-right: 10px; }
  #cong-trinh-tieu-bieu .media .media-left img,
  #cong-trinh-tieu-bieu .media .media-body img,
  #xay-dung-nha .media .media-left img,
  #xay-dung-nha .media .media-body img,
  #sua-chua-nha .media .media-left img,
  #sua-chua-nha .media .media-body img,
  #nang-cap-nha .media .media-left img,
  #nang-cap-nha .media .media-body img,
  #thiet-ke-kien-truc-nha .media .media-left img,
  #thiet-ke-kien-truc-nha .media .media-body img,
  #vat-lieu-hoan-thien .media .media-left img,
  #vat-lieu-hoan-thien .media .media-body img,
  #cam-nang-xay-nha .media .media-left img,
  #cam-nang-xay-nha .media .media-body img,
  #tinh-chi-phi-xay-dung .media .media-left img,
  #tinh-chi-phi-xay-dung .media .media-body img,
  #hoat-dong .media .media-left img,
  #hoat-dong .media .media-body img,
  #danh-gia .media .media-left img,
  #danh-gia .media .media-body img,
  #bang-bao-gia .media .media-left img,
  #bang-bao-gia .media .media-body img,
  #cam-ket .media .media-left img,
  #cam-ket .media .media-body img {
    width: 50px; }

#cong-trinh-tieu-bieu .media .media-body,
#xay-dung-nha .media .media-body,
#sua-chua-nha .media .media-body,
#nang-cap-nha .media .media-body,
#thiet-ke-kien-truc-nha .media .media-body,
#vat-lieu-hoan-thien .media .media-body,
#cam-nang-xay-nha .media .media-body,
#tinh-chi-phi-xay-dung .media .media-body,
#hoat-dong .media .media-body,
#danh-gia .media .media-body,
#bang-bao-gia .media .media-body,
#cam-ket .media .media-body {
  vertical-align: top;
  overflow: hidden; }
  #cong-trinh-tieu-bieu .media .media-body .media-heading,
  #xay-dung-nha .media .media-body .media-heading,
  #sua-chua-nha .media .media-body .media-heading,
  #nang-cap-nha .media .media-body .media-heading,
  #thiet-ke-kien-truc-nha .media .media-body .media-heading,
  #vat-lieu-hoan-thien .media .media-body .media-heading,
  #cam-nang-xay-nha .media .media-body .media-heading,
  #tinh-chi-phi-xay-dung .media .media-body .media-heading,
  #hoat-dong .media .media-body .media-heading,
  #danh-gia .media .media-body .media-heading,
  #bang-bao-gia .media .media-body .media-heading,
  #cam-ket .media .media-body .media-heading {
    font-size: 1em;
    font-weight: bold; }

#cong-trinh-tieu-bieu #tabVatLieu .nav-link:hover,
#xay-dung-nha #tabVatLieu .nav-link:hover,
#sua-chua-nha #tabVatLieu .nav-link:hover,
#nang-cap-nha #tabVatLieu .nav-link:hover,
#thiet-ke-kien-truc-nha #tabVatLieu .nav-link:hover,
#vat-lieu-hoan-thien #tabVatLieu .nav-link:hover,
#cam-nang-xay-nha #tabVatLieu .nav-link:hover,
#tinh-chi-phi-xay-dung #tabVatLieu .nav-link:hover,
#hoat-dong #tabVatLieu .nav-link:hover,
#danh-gia #tabVatLieu .nav-link:hover,
#bang-bao-gia #tabVatLieu .nav-link:hover,
#cam-ket #tabVatLieu .nav-link:hover {
  background: #1b4a1c !important;
  color: #fff !important; }

#footer {
  color: #fff;
  font-size: 14px;
  padding: 30px 0 0 0;
  position: relative;
  background-color: #1b4a1c;
  margin-top: 0;
  overflow: hidden; }
  #footer a {
    color: white; }
    #footer a:hover {
      text-decoration: underline; }
  #footer .ct-footer .title_footer {
    font-size: 22px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 10px; }
  #footer .ct-footer .menu_bottom li {
    float: left;
    margin-right: 5px;
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 10px;
    color: white; }
    #footer .ct-footer .menu_bottom li a {
      color: white; }
  #footer .ct-footer .item {
    border: none;
    margin: 0; }
    #footer .ct-footer .item:hover {
      background-color: transparent; }
  #footer .ct-footer .code-schema-events {
    width: 100%;
    float: left;
    margin-top: 15px; }
  #footer .ct-footer h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  #footer .content_footer {
    border-top: 1px solid #fff;
    padding-top: 30px;
    text-align: center; }
    #footer .content_footer .logo_footer img {
      width: 320px;
      height: auto; }
  #footer .copyright {
    text-align: center;
    border-top: 1px solid #fff;
    padding: 10px 0;
    color: #fff;
    background: #114831; }

.icon_left {
  text-align: center;
  width: 45px;
  position: fixed;
  bottom: 80px;
  left: 20px;
  z-index: 9999; }
  .icon_left a {
    display: block;
    width: 45px;
    margin: 14px 0;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 3px 10px #888;
    height: 45px;
    line-height: 26px; }
    .icon_left a img {
      max-width: 100%;
      height: auto; }
  .icon_left .icon_phone {
    background: #19305a; }
  .icon_left .icon_sms {
    background: #ff6600; }
  .icon_left .icon_zalo {
    background: #0084ff; }
  .icon_left .icon_messager {
    background: #e60f1e; }

.dang_ky_fix {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: tada_keyframe;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: phone_call;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 0;
  left: 5px;
  text-align: center;
  background-color: #078844;
  margin-top: 10px;
  color: #000;
  z-index: 9999;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 30px;
  font-weight: 700; }
  .dang_ky_fix a {
    color: #fff; }

@keyframes phone_call {
  0% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1); }
  10%,
  20% {
    -webkit-transform: translate(0, 0) scale(0.9, 0.9) rotateZ(-3deg);
    transform: translate(0, 0) scale(0.9, 0.9) rotateZ(-3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(0, 0) scale(1.1, 1.1) rotateZ(3deg);
    transform: translate(0, 0) scale(1.1, 1.1) rotateZ(3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: translate(0, 0) scale(1.1, 1.1) rotateZ(-3deg);
    transform: translate(0, 0) scale(1.1, 1.1) rotateZ(-3deg); }
  100% {
    -webkit-transform: translate(0, 0) scale(1, 1) rotateZ(0);
    transform: translate(0, 0) scale(1, 1) rotateZ(0); } }

.modal-custom {
  height: 300px;
  overflow-y: scroll; }

@media (max-width: 564px) {
  .d-none-dk {
    display: inherit; }
  .d-none-mb {
    display: none; }
  #thiet-ke-kien-truc-nha .content .nav-tabs .nav-item .nav-link,
  #vat-lieu-hoan-thien .content .nav-tabs .nav-item .nav-link {
    font-size: 10px;
    padding: 2px 3px; } }

@keyframes ring-alo-circle-anim {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5) skew(1deg); }
  30% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  100% {
    opacity: 0.6;
    transform: rotate(0deg) scale(1) skew(1deg); } }

@keyframes ring-alo-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg); } }

@keyframes ring-alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  50% {
    opacity: 0.2;
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg); } }
